<!-- left column -->
<div id="column1">

  <!-- Personal Information -->
  <div id="persinfo">
    <div>Personal Info</div>
    <table>
      <tr><td>Name:</td><td><%=@user.name%></td></tr>
      <tr><td>Email:</td><td><%=@user.name%></td></tr>
      <tr><td>Organization:</td>
        <% @profile.profile_organizations.each do |org| %>
          <td>org.organization.name</td></tr><tr>
        <% end %>
      </tr>
    </table>
  </div>


  <!-- Interest Profile -->
  <div id="intprof">
    <div>Personal Info</div>
    <table>
      <% @user.interest_profiles.order(:name).each do |prof| %>
        <tr><td><%= prof.name %></td></tr>
      <% end %>
    </table>
  </div>

</div>

<!-- two right columns -->
<div id="2columns">

  <!-- middle column -->
  <div id="column2">

    <!-- Topics of Interest -->
    <div id="topint">
      <div>Topics of Interest</div>
      <table>
        <% @profile.profile_topics.each do |top| %>
          <tr><td><%= top.topic_interest.name %></td></tr>
        <% end %>
      </table>
    </div>

    <!-- Past Queries -->
    <div id="pastqs">
      <div>Past Queries</div>
      <table>
        <% @profile.queries.each do |q| %>
          <tr><td><%= q.query %></td></tr>
        <% end %>
      </table>
    </div>

  </div>

  <!-- right column -->
  <div id="column3">

    <!-- Regions of Interest -->
    <div id="regint">
      <div>Regions of Interest</div>
      <table>
        <% @profile.profile_locations.each do |loc| %>
          <tr><td><%= loc.location_interest.name %></td></tr>
        <% end %>
      </table>
    </div>

  </div>
</div>   
