<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body <%= @body_attributes %> >



<% if @user %>

<!-- page contents -->
<div id="container">

  <!-- Profile/Search Toggle, Logo, and Interest Profile and Users dropdowns -->
  <div id="titlebar">
    <div id="toggle">
      <%= link_to image_tag('toggle.jpg') ,:interest_profile %>
    </div>
    
    <div id="dropdowns">    
      
      <div id="profilesdropdown">
        
        <label id="dropdown">Interest Profile:</label>
        <select name="Interest Profiles">
          <option value="one">One</option>
          <option value="two">Two</option>
          <option value="three">Three</option>
          <option value="four">Four</option>
        </select> 
        
      </div>
      
      <div id="similardropdown">
        
        <label id="dropdown">User Similarity to Me:</label>
        <select name="User Similarity">
          <option value="one">One</option>
          <option value="two">Two</option>
          <option value="three">Three</option>
          <option value="four">Four</option>
        </select>
        
      </div> 
      
    </div>

    <div id="logout">
      <%= link_to "Logout", :logout %>
    </div>
    
  </div>
  
  <!-- Search bar -->
  <div id="search">
    <form>
      <input type="text" class="rounded" placeholder="Type Query Here" required >
      <input type="button" value="Search" >
    </form>
  </div>


  <!-- Search results 'nav' bar -->
  <div id="SearchNav">
    <ul>
      <li>Showing:</li>
      <li><a href="">All</a></li>
      <li><a href="">Results</a></li>
      <li><a href="">Similar Users</a></li>
      <li><a href="">Recommended Queries</a></li>
      <li><a href="">Recommended Results</a></li>
      <li><a href="">Common Topics</a></li>
    </ul> 
  </div>
<% end %>

<%= yield %>

<% if @user %>
</div> <!-- #container -->
<% end -%>

</body>
</html>
